*{
    margin:0px;
    padding: 0px;
}
h1,h2,h3,h4,h5{
    font-weight: 300;
}
ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.top__header{
   background-color: #dfdddd8e;
   font-size: 13px !important;
   padding: 5px 40px;
}
.top__header ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.top__header ul>li{
    padding: 4px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.bottom__header{ 
    font-size: 14px !important;
    padding: 5px 40px;
}
.bottom__header ul{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
}
 .bottom__header ul>li{
     padding: 4px 10px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-weight: 400; 
     font-size: 15px;  
 }
 .bottom__header ul>li:hover{
    font-weight: 500;
    cursor: pointer;  
}

 .main_carousel{
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 60px;
  
 }
 .main_carousel>button{
    max-width: 200px;
    background-color: white;
    padding: 20px;
    border-radius: 40px;
    font-size: 1rem;
 }

 .main_carousel>button:hover{
    cursor: pointer;
 }

 .main_carousel>h1{
    color: white;
      
    font-size: 70px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
 }

 .core__services ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
 }
 .core__services ul>li{
    padding: 30px;
    font-size:15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 .icon{
    display: block;
    text-align: center; 
 }
 .latest__innovations{
    padding: 20px;
    margin-top: 20px;
 }
 .latest__innovations h1{
   text-align: center;
 }
 .latest__innovations ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
 }
 .latest__innovations ul>li{
    flex: 0.3;
    padding: 10px;
 }
 .innovation__card{
    min-height: 500px;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 }