*{
    margin:0px;
    padding: 0px;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 300;
}
ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.top__header{
   background-color: #dfdddd8e;
   font-size: 13px !important;
   padding: 5px 40px;
}
.top__header ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.top__header ul>li{
    padding: 4px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}



.Responsive_nav{
   display: flex;
   flex-direction: column;
   padding-left: 3vw;
   width: 94vw;
   padding-top: 3vw;
   padding-bottom: 3vw;
}

/* Bottom header */

.bottom__header{ 
   font-size: 14px !important;
   padding: 5px 40px;
}

.bottom__header ul{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

 .bottom__header ul>li{
     padding: 20px;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     font-weight: 400; 
     gap: 1vw;
 }
 .bottom__header ul>li:hover{ 
    cursor: pointer;  
}

.bottom__header>ul>li:nth-child(2)>li>ul>li:last-child{
   display: none;

}

/* bottom__header  end*/



 .main_carousel{
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-inline: 60px;
   
 }
 .main_carousel>h1{
    font-weight: 600;
 }
 .main_carousel>button{
    max-width: 200px;
    background-color: white;
    padding: 20px;
    border-radius: 40px;
    font-size: 1rem;
 }

 .main_carousel>button:hover{
    cursor: pointer;
 }

 .main_carousel>h1{
    color: white;
      
    font-size: 70px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
 }

 .core__services ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
 }
 .core__services ul>li{
    padding: 30px;
    font-size:15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 .icon{
    display: block;
    text-align: center; 
 }
 .latest__innovations{
    padding: 20px;
    margin-top: 20px;
 }
 .latest__innovations h1{
   text-align: center;
 }
 .latest__innovations ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
 }
 .latest__innovations ul>li{
    flex: 0.3;
    padding: 10px;
 }
 .innovation__card{
    min-height: 500px;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 }

 .innovation__card .blog_content{
padding-block:20px ;
padding-inline: 20px;
 }
 .innovation__card .badge{
  padding:5px 10px;
  width: auto;
  font-size: 14px; 
 }
 .badge-outlined{
    border:1px solid black
 }
 .innovation__card h2{
    margin-top: 20px;
 }
 .innovation__card h3{
    margin-bottom: 10px;
 }
 .innovation__card a{
    color: rgb(17, 93, 123);
    font-size: 18px;
    text-decoration: none;
 }
 .innovation__card a::after{
    content: ">";
 }
 .story__card{
    padding: 30px;
    padding-inline: 60px;
    
 }
 .story__card>ul{
    display: flex;
    flex-direction: row;

 }
 .story__card>ul>li{
    padding: 40px;
 }
 .story__card .blog_content>h2{
    font-size: 44px;
    margin-block: 20px;
 }
 .story__card .blog_content>h3{
    font-size: 24px;
    margin-block-end: 20px;
 }
 .story__card .blog_content>a{
    font-size: 25px;
    text-decoration: none;
    color: rgb(19, 79, 102);
 }
 .story__card .blog_content>a::after{
    content: ">";
 }
 .footer{
    padding: 40px;
 }
 .footer ul:first-child{
  display: flex;
  flex-direction: row;
  justify-content: center;
 }
 .footer ul:first-child>li{
    flex: 0.5;
    padding: 60px;
   }
 .footer ul:first-child>li>h2{
    font-size: 42px;
    
 }.footer ul:first-child>li>h6{
    font-size: 16px;
    margin-bottom: 20px;
    
 }
 .footer ul:first-child>li>button{
    padding: 12px;
    font-size: 16px;
    min-width: 200px;
    color :rgb(20, 75, 96);
    background-color: #fff;
    outline: none;
    border: 1px solid rgb(20, 75, 96);
 }
 .footer ul:first-child>li:first-child{
    border-right:1px solid gray
 }
 .footer ul:first-child>li{
    font-size: 40px;
 }
 .footer>ul:nth-child(2){
    padding: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }
 .footer ul:nth-child(2)>li>ul{
    display: flex;
    flex-direction: column;
 }
 .copyright_line{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   border-top: 1px solid gray;
   padding-top: 20px;
 }
 .copyright_line>ul{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 }
 .copyright_line>ul>li{
   padding-inline: 10px;
 }

 /*tab css*/
 

.close-button{
   background-color: white;
   border: none;
   cursor: pointer;
   color: black;
   font-weight: bolder;
   
}
.close-button-1{
   height: 20px;
   width: 20px;
   margin-top: 20px;
}
.close-button :hover{
   color: #007fff;
}


.Search{
   display: flex;
   height: 10vw;
   flex-direction: row;
   position: absolute;
   z-index: 0;
   background-color: white;
   width: 100%;
}

.tab-compo {
   border-top: 1px solid rgb(223, 223, 223);
   display: flex;
   position: absolute;
   z-index: 1;
   background-color: white;
   border-bottom: 1px solid lightgray;
}
.tab-compo>li{
   display: flex;
   flex-direction: row;
}
.list-content{
   padding: 20px;
   width: 70vw;
}
.tab {
   display: flex;
   flex-direction: row;
   width: 100vw;
}

.tab-list {
   width: 20vw;
   border-right: 1px solid rgb(206, 206, 206);
   height: 40vw;
   justify-content: center;
   padding-inline-start: 20px;
   padding-top: 2vw;
   display: flex;
   font-size: 14px;
   line-height: 50px; 
}

.main-page{
   color: #007fff;
}
.list-link li:hover{
   color: #007fff;
   cursor: pointer;
   text-decoration: underline;
}
.content-img{
   width: inherit;
}
.main-page-content{
   display: flex;
   flex-direction: row; 
   gap: 3vw;
   width:inherit;
}
.main-page-content>div{
    width: calc(70vw /3); 
}
.main-page-content>div>ul{
   font-size: 1.2vw;
   line-height: 3vw;
}
.main-page-content>div>ul>li>p{
   line-height: 2vw ;
}
.main-page-content>div>ul>li{
   cursor: pointer;
}
.main-page-content>div>ul>li:hover{
   text-decoration: underline;
   
}
.main-page-content>div>ul>a{
   text-decoration: none;
   color: #007fff;
   font-size: 1.2vw;

}
.head-text{
   font-size: 17px;
   margin-bottom: 20px;
   width: 20vw;
   padding: 5px;

}
.text-info{
   font-size: 15px;
   width: 15vw;
   color: gray;
   margin-bottom: 40px;
}
.links-page{
   color: #007fff;
   text-decoration: none;
   font-size: 20px;
  line-height: 50px;

}

.links-page:hover{
   text-decoration: underline;
}



 /*tab csss ends*/



/* ContactUs */

.Contact-Body{
   padding-left: 6vw;
   padding-right: 6vw;
}

.Contact-Nav{
   display: flex;
   align-items: center;
   height: 3.5vw;
   width: 98.8vw;
   border-top: 1px lightgray solid;
   border-bottom: 1px lightgray solid;
    
}
.Contact-Nav>h4{
   color: gray;
   padding-left: 5vw;
   cursor: pointer;
   font-weight: 400;
}
.Contact-Nav>h4:hover{
   color: blue;
   text-decoration: underline;
}
.Contact-top{
   display: flex;
   flex-direction: column;
}

.Contact-top>h2{
   font-size: 50px;
}

/* Country and Region */

.select-container {
   display: flex;
   flex-direction: row;
   gap: 1rem;
   padding-top: 5vw;
 }

 .select-wrapper {
   position: relative;
   z-index: 0;
 }
 
 .select-label {
   position: absolute;
   top: -0.8rem;
   left: 1rem;
   background-color: white;
   padding: 0 0.5rem;
   color: #333;
 }
 
 .select-input {
   width: 25vw;
   border: 1px solid #ccc;
   border-radius: 12px;
   padding: 2vw;

 }

 .name-wrapper {
   position: relative;
   margin-bottom: 2vw;
   margin-top: 2vw;
 }
 
 .name-label {
   position: absolute;
   top: -0.8rem;
   left: 1rem;
   background-color: white;
   color: gray;
   font-size: 15px;
   font-weight: 100;
   z-index: 1;
 }
 
 .name-input {
   width: 20vw;
   border: 1px solid #ccc;
   border-radius: 12px;
   padding-top: 1.8vw;
   padding-bottom: 1.8vw;

 }

 /* Email input */
 .Email-input{
   width: 42.5vw;
   border: 1px solid #ccc;
   border-radius: 12px;
   padding-top: 1.8vw;
   padding-bottom: 1.8vw;
 }

 /* Country */

 .country-input{
   width: 44vw;
   border: 1px solid #ccc;
   border-radius: 12px;
   padding-top: 1.8vw;
   padding-bottom: 1.8vw;
 }
 .bottom__header_list{
   display: none;
 }

 /* Phone-input */

.phone-input{
   width: 42.5vw;
   border: 1px solid #ccc;
   border-radius: 12px;
   padding-top: 1.8vw;
   padding-bottom: 1.8vw;
}


 .Contact-Main{
   display: flex;
   flex-direction: row;
   padding-top: 5vw;
 }

 .Contact-bodys{
   width: 50vw;
 }


 .contact-container {
   font-family: Arial, sans-serif;
   margin: 20px;
   line-height: 1.6;
 }
 
 h1 {
   font-size: 2rem;
   margin-bottom: 1rem;
 }
 
 h2 {
   font-size: 1.5rem;
   margin-top: 1rem;
   color: #333;
 }
 
 .contact-section {
   display: flex;
   flex-direction: column;
   margin-bottom: 1rem;
 }
 .contact-section-2 {
   display: flex;
   flex-direction: column;
   line-height: 5px;
   font-weight: 200;
   margin-bottom: 1rem;
   
 }
 .Link-button{
   text-decoration: underline;
   color: rgb(83, 83, 185);
   cursor: pointer;
   transition: 0.15s;
 }
 .Link-button:hover{
   color: #0056b3;
   font-weight: bold;
 }
 .Link-button-2{
   color: #007bff;
   font-weight: bold;
   line-height: 3rem;
   cursor: pointer;
 }

 .chat-button{
   background:none;
   border-radius: 50px;
   color: #007bff;
   border: 1px #007bff solid;
   width: 6vw;
   padding-top: 10px;
   padding-bottom: 10px;
   cursor: pointer;
   margin-top: 1rem;
   
 }
 
 .Link-button {
   color: #007bff;
   background: none;
   border: none;
   cursor: pointer;
 }
 
 
 .explore-button {
   margin-right: 10px;
 }

 .line-container {
   display: flex;
   align-items: center;
   width: 100%;
}

.line {
   flex: 1;
   border: none;
   border-top: 1px solid #000;
   margin: 0;
}

.text {
   padding: 0 10px;
   white-space: nowrap;
}
 /* Contact us body 2 */

 .request-form-container {
   font-family: Arial, sans-serif;
   margin: 20px;
   line-height: 1.6;
   padding-top: 4vw;
 }
 
 h1 {
   font-size: 2rem;
   margin-bottom: 1rem;
 }
 
 p {
   margin-bottom: 1rem;
 }
 
 .request-form {
   display: flex;
   flex-direction: column;
   gap: 1rem;
 }
 .login-button{
  
   border: 2px #007bff solid;
   background: none;
   color: #007bff;
   border-radius: 1vw;
   width: 21.5vw;
   padding: 18px;
   margin-top: 1rem;
   margin-bottom: 1rem;
   cursor: pointer;
 }
 label {
   font-weight: bold;
   margin-bottom: 0.5rem;
 }
 
 input, select, textarea {
   padding: 0.5rem;
   border: 1px solid #ccc;
   border-radius: 4px;
   width: 100%;
 }
 
 textarea {
   resize: vertical;
   height: 100px;
 }
 
 .submit-button {
   background-color: #007bff;
   color: white;
   border: none;
   padding: 10px 20px;
   font-size: 1rem;
   border-radius: 5px;
   cursor: pointer;
   margin-top: 10px;
   width: 15vw;
 }
 
 .submit-button:hover {
   background-color: #0056b3;
 }
 
 .mobile_menu_link{
   position: relative;
   z-index: 99;
 }
 .mobile_menu_link{
   background-color: white;
   height: 20vw;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-left: 20px;


 }

 .hamburger{
   display: none;
 }

 .show-component{
   display: none;
   padding-left: 20vw;
 }
 .new-component{
   display: flex;
   justify-content: space-between;
 }

 .show{
   display: none !important;
   padding-left: 43vw;
   gap: 200px;
 }
 .menu-icon{
      padding-left: 0.5vw;
 }
 .closes-button {
   position: absolute;
   top: 10px;
   right: 20px;
   background: transparent;
   border: none;
   font-size: 30px;
   cursor: pointer;
 }

 .Resp_list_link{
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      width: 97vw;
      padding-left: 3vw;
 }
 .Accessnetworking>ul{
   display: flex;
   flex-direction: row;
   padding: 3vw;
   grid:20px;
 }
 .Accessnetworking>ul>li{
   width: 50vw;
 }
 .NetworkAcess-img-text{
  color: #000 !important;
 }
 

 .footer-top{
   padding: 8vw;
   background-color: #193c62;

 }
 .footer-top>ul{
   display: flex;
   flex-direction: row;
 }
 .footer-top>ul>:first-child{
   font-size: 3vw;
   color:#fff;
   width: 50vw;
 }
 .footer-top>ul>:first-child>p{
   width: 30vw;
 }
 .footer-top>ul>:last-child{
   color: #fff;
   width: 50vw;
 }
 .footer-top>ul>:last-child>p{
   font-size: 1.5vw;
 }
 .footer-top>ul>:last-child>button{
   background-color: #007bff;
   border: none;
   padding: 1vw;
   border-radius: 15px;
   color: white;
   cursor: pointer;
 }
 .Get_the_guidance_you_need{
   display: flex;
   flex-direction: column;
   padding-left: 10vw;
   padding-right: 10vw;
   justify-content: center;
   align-items: center;
   padding-bottom: 5vw;
   
 }
 .Get_the_guidance_you_need>ul{
   padding-top: 2vw;
   display: flex;
   flex-direction: row;
   border-top: 1px solid lightgray;
   gap: 1vw;

 }
 .Get_the_guidance_you_need>ul>li{
   width: 35vw;
 }
 .Get_the_guidance_you_need>ul>li>h4{
   font-size: 1.3vw;
   padding-bottom:  1vw;
 }
 .Get_the_guidance_you_need>ul>li>h2{
   font-size: 1.5vw;
   width: 28vw;
   padding-bottom: 1vw;
 }
 .Get_the_guidance_you_need>ul>li>a{
   font-size: 1.3vw;
 }

 /* network block 1 */

 .Network_block_1{
   padding: 3vw;
 }
 .Network_block_1>ul{
   display: flex;
   flex-direction: row;
   padding-left: 6vw;
   padding-right: 6vw;
   gap: 2vw;
 }
 .Network_block_1>ul>:first-child{
   width: 40vw;
 }
 .Network_block_1>ul>:first-child>h2{
   font-size: 2.5vw;
   font-weight: 400;
 
   padding-bottom: 4vw;
 }
 .Network_block_1>ul>:first-child>p{
   padding-bottom: 2vw;
 }
 .Network_block_1>ul>:last-child{
   width: 40vw;
 }
 /* Network_block_2 */
 .Network_block_2{
   padding: 5vw;
 }
 .Network_block_2>ul{
  display: flex;
  flex-direction: row;
  gap: 5vw;
 }

 .Network_block_2>h1{
   font-size: 4vw;
   padding-bottom: 4vw;
 }
 .Network_block_2>ul>li{
   line-height: 4vw;
   font-size: 2vw;
 }
 .Network_block_2>ul>:first-child{
  width: 30vw;
 }
 .Network_block_2>ul>:last-child{
  width: 50vw;
 }
 .video-side-accessnetwork{
   display: flex;
   flex-direction: column;
 }
 .video-side-accessnetwork>h3{
   font-size: 2vw;
   font-weight: 400;
   padding-bottom: 1vw;
 }
 .video-side-accessnetwork>li>h2{
   font-size: 2vw;
   font-weight: 400;
   padding-bottom: 4vw;
 }
 .video-side-accessnetwork>li{
   display: flex;
   flex-direction: row;
 }
 .content-img-network{
   width: 40vw;
 }

 /* Network_block_4 */

 .Network_block_4{
   padding: 5vw;
 }
 .Network_block_4>h1{
   font-size: 4vw;
   width: 70vw;
   font-weight: 400;
 }

 .wireless{
    display: flex;
    flex-direction: row;
 }
 .wireless>li>p{
  font-weight: 100;
  font-size: 1.5vw;
 }
 .video-network{
  width: 30vw;
 }