*{
    margin:0px;
    padding: 0px;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 300;
}
ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.top__header{
   background-color: #dfdddd8e;
   font-size: 13px !important;
   padding: 5px 40px;
}
.top__header ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.top__header ul>li{
    padding: 4px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.bottom__header{ 
    font-size: 14px !important;
    padding: 5px 40px;
}

.bottom__header ul{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
}
 .bottom__header ul>li{
     padding: 4px 10px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-weight: 400; 
     font-size: 15px;  
 }
 .bottom__header ul>li:hover{ 
    cursor: pointer;  
}

 .main_carousel{
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 60px;
   
 }
 .main_carousel>h1{
    font-weight: 600;
 }
 .main_carousel>button{
    max-width: 200px;
    background-color: white;
    padding: 20px;
    border-radius: 40px;
    font-size: 1rem;
 }

 .main_carousel>button:hover{
    cursor: pointer;
 }

 .main_carousel>h1{
    color: white;
      
    font-size: 70px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
 }

 .core__services ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
 }
 .core__services ul>li{
    padding: 30px;
    font-size:15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 .icon{
    display: block;
    text-align: center; 
 }
 .latest__innovations{
    padding: 20px;
    margin-top: 20px;
 }
 .latest__innovations h1{
   text-align: center;
 }
 .latest__innovations ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
 }
 .latest__innovations ul>li{
    flex: 0.3;
    padding: 10px;
 }
 .innovation__card{
    min-height: 500px;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 }

 .innovation__card .blog_content{
padding-block:20px ;
padding-inline: 20px;
 }
 .innovation__card .badge{
  padding:5px 10px;
  width: auto;
  font-size: 14px; 
 }
 .badge-outlined{
    border:1px solid black
 }
 .innovation__card h2{
    margin-top: 20px;
 }
 .innovation__card h3{
    margin-bottom: 10px;
 }
 .innovation__card a{
    color: rgb(17, 93, 123);
    font-size: 18px;
    text-decoration: none;
 }
 .innovation__card a::after{
    content: ">";
 }
 .story__card{
    padding: 30px;
    padding-inline: 60px;
    
 }
 .story__card>ul{
    display: flex;
    flex-direction: row;

 }
 .story__card>ul>li{
    padding: 40px;
 }
 .story__card .blog_content>h2{
    font-size: 44px;
    margin-block: 20px;
 }
 .story__card .blog_content>h3{
    font-size: 24px;
    margin-block-end: 20px;
 }
 .story__card .blog_content>a{
    font-size: 25px;
    text-decoration: none;
    color: rgb(19, 79, 102);
 }
 .story__card .blog_content>a::after{
    content: ">";
 }
 .footer{
    padding: 40px;
 }
 .footer ul:first-child{
  display: flex;
  flex-direction: row;
  justify-content: center;
 }
 .footer ul:first-child>li{
    flex: 0.5;
    padding: 60px;
   }
 .footer ul:first-child>li>h2{
    font-size: 42px;
    
 }.footer ul:first-child>li>h6{
    font-size: 16px;
    margin-bottom: 20px;
    
 }
 .footer ul:first-child>li>button{
    padding: 12px;
    font-size: 16px;
    min-width: 200px;
    color :rgb(20, 75, 96);
    background-color: #fff;
    outline: none;
    border: 1px solid rgb(20, 75, 96);
 }
 .footer ul:first-child>li:first-child{
    border-right:1px solid gray
 }
 .footer ul:first-child>li{
    font-size: 40px;
 }
 .footer>ul:nth-child(2){
    padding: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }
 .footer ul:nth-child(2)>li>ul{
    display: flex;
    flex-direction: column;
 }
 .copyright_line{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   border-top: 1px solid gray;
   padding-top: 20px;
 }
 .copyright_line>ul{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 }
 .copyright_line>ul>li{
   padding-inline: 10px;
 }

 /*tab css*/

 

.close-button{
   background-color: white;
   border: none;
   cursor: pointer;
   color: black;
   font-weight: bolder;
   
}
.close-button-1{
   height: 20px;
   width: 20px;
   margin-top: 20px;
}
.close-button :hover{
   color: #007fff;
}

.tab-compo {
   border-top: 1px solid rgb(223, 223, 223);
   display: flex;
   flex-direction: row;
   height: 650px;
   position: absolute;
   z-index: 0;
   background-color: white;
   width: 100%;
   border-bottom: 1px solid lightgray;
    
}

.tab {
   width: 100%;
   display: flex;
   flex-direction: row;
}

.tab-list {
   width: 20vw;
   border-right: 2px solid rgb(206, 206, 206);
   height: 620px;
   justify-content: center;
   padding-inline-start: 20px;
   padding-top: 30px;
   display: flex;
   font-size: 16px;
   line-height: 50px; 
   padding-bottom: 0;

}
.main-page{
   color: #007fff;
}
.list-link li:hover{
   color: #007fff;
   cursor: pointer;
   text-decoration: underline;
}
.content-img{
   width: inherit;
}
.main-page-content{
   display: flex;
   flex-direction: row;
   gap: 20px; 
   width:70vw;
   padding: 20px;
}
.main-page-content>div{
    width: calc(60vw /3);  
    
}
.head-text{
   font-size: 20px;
   margin-bottom: 20px;
   width: inherit;
   padding: 5px;

}
.text-info{
   font-size: 20px;
   width: inherit;
   color: gray;
   margin-bottom: 40px;
}
.links-page{
   color: #007fff;
   text-decoration: none;
   font-size: 20px;
  line-height: 50px;


}
.links-page:hover{
   text-decoration: underline;
}



 /*tab csss ends*/