@media only screen and (max-width:600px) {
    *{
        margin:0px;
        padding: 0px; 
    }
    h1,h2,h3,h4,h5,h6{
        font-weight: 300;
    }
    ul{
        padding: 0px;
        margin: 0px;
        list-style: none;
    }
    .top__header{
       background-color: #dfdddd8e;
       font-size: 13px !important;
       padding: 2px 2px;
    }
    .top__header ul{
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
    }
    .top__header ul>li{
        padding: 4px 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .show-component{
      display: block;
    }
    .old-component{
      display: none !important;
      margin-left: 4vw;
    }
    .show{
      display: block !important;
    }
    
    .bottom__header{ 
        font-size: 14px !important;
        padding: 5px 5px;
    }
    .bottom__header img{
       height: 40px;
       width: auto;
    }
    .bottom__header ul{
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
    }
     .bottom__header ul>li{
         padding: 4px 10px;
         display: flex;
         align-items: center;
         justify-content: center;
         font-weight: 400; 
         font-size: 15px;  
     }
     .bottom__header>ul>li:nth-child(2),.bottom__header  ul>li:nth-child(3),.bottom__header  ul>li:nth-child(4),.bottom__header  ul>li:nth-child(5){
        display: none;
     }
     .bottom__header ul>li:hover{ 
        cursor: pointer;  
    }
    
     .main_carousel{
      min-height: 70vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-inline: 20px;

       
     }
     .main_carousel>h1{
        font-weight: 600;
        margin-bottom: 20px;
     }
     .main_carousel>button{
        max-width: 200px;
        background-color: white;
        padding: 20px;
        border-radius: 40px;
        font-size: 1rem;
     }
    
     .main_carousel>button:hover{
        cursor: pointer;
     }
    
     .main_carousel>h1{
        color: white;
          
        font-size: 40px;
        max-width: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-items: center;
     }
    
     .core__services ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
     }
     .core__services svg{
        color:#242424;
     }
     .core__services ul>li{
        padding: 10px;
        font-size:10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
     }
     .icon{
        display: block;
        text-align: center; 
     }
     .latest__innovations{
        padding: 10px;
        margin-top: 20px;
     }
     .latest__innovations h1{
       text-align: center;
     }
     .latest__innovations ul{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 40px;
     }

     .latest__innovations ul>li{
        flex: 0.3;
        padding: 10px;
     }

     .innovation__card{
        min-height: 500px;
        width: 100%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     }
    
     .innovation__card .blog_content{
    padding-block:20px ;
    padding-inline: 20px;
     }
     .innovation__card .badge{
      padding:5px 10px;
      width: auto;
      font-size: 14px; 
     }
     .badge-outlined{
        border:1px solid black
     }
     .innovation__card h2{
        margin-top: 10px;
     }
     .innovation__card h3{
        margin-bottom: 10px;
     }
     .innovation__card a{
        color: rgb(17, 93, 123);
        font-size: 18px;
        text-decoration: none;
     }
     .innovation__card a::after{
        content: ">";
     }
     .story__card{
        padding: 10px;
        padding-inline: 10px;
     }

     .story__card>ul{
        display: flex;
        flex-direction: column;
     }
     .story__card>ul>li{
        padding: 10px;
     }
     .story__card .blog_content>h2{
        font-size: 44px;
        margin-block: 20px; 
     }
     .story__card .blog_content>h3{
        font-size: 24px;
        margin-block-end: 20px;
     }
     .story__card .blog_content>a{
        font-size: 25px;
        text-decoration: none;
        color: rgb(19, 79, 102);
     }
     .story__card .blog_content>a::after{
        content: ">";
     }
     .footer{
        padding: 10px;
     }
     .footer ul:first-child{
      display: flex;
      flex-direction: column;
      justify-content: center;
     }
     .footer ul:first-child>li{
        flex: 0.5;
        padding: 10px;
       }
     .footer ul:first-child>li>h2{
        font-size: 42px;
        
     }.footer ul:first-child>li>h6{
        font-size: 16px;
        margin-bottom: 20px;
        
     }
     .footer ul:first-child>li>button{
        padding: 12px;
        font-size: 16px;
        min-width: 200px;
        color :rgb(20, 75, 96);
        background-color: #fff;
        outline: none;
        border: 1px solid rgb(20, 75, 96);
     }

     .footer ul:first-child>li:first-child{
        border-right:1px solid gray
     }

     .footer ul:first-child>li{
        font-size: 40px;
     }
     .footer>ul:nth-child(2){
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #dfdddd8e;
     }
     .footer ul:nth-child(2)>li>ul{
        display: flex;
        flex-direction: column;
     }
     .copyright_line{
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       border-top: 1px solid gray;
       background-color:#dfdddd8e ;
       padding-top: 20px;
     }
     .copyright_line>ul{
       display: flex;
       flex-direction: row;
       justify-content: space-between;
     }
     .copyright_line>ul>li{
       padding-inline: 10px;
     }
    
     /*tab css*/
    

    .close-button{
       background-color: white;
       border: none;
       cursor: pointer;
       color: black;
       font-weight: bolder;
       
    }
    .close-button-1{
       height: 20px;
       width: 20px;
       margin-top: 20px;
    }
    .close-button :hover{
       color: #007fff;
    }
    
    .tab-compo {
       border-top: 1px solid rgb(223, 223, 223);
       display: flex;
       flex-direction: column;
       position: absolute;
       justify-content: center;
       z-index: 99;
       background-color: white;
       width: 100vw;
       line-height: 10vw;
       overflow-x: scroll;
       border-bottom: 1px solid lightgray;
    }
    
    .tab {
       display: flex;
       flex-direction: row;
    }
    
    .tab-list {
       width: 100vw;
       border-right: 2px solid rgb(206, 206, 206);
       height: 100vw;
       justify-content: center;
       padding-inline-start: 20px;
       padding-top: 10px;
       display: flex;
       font-size: 10px;
       line-height: 30px; 
       overflow-x: scroll;
       padding-bottom: 3vw;
    
    }
    .main-page{
       color: #007fff;
    }
    .list-link li:hover{
       color: #007fff;
       cursor: pointer;
       text-decoration: underline;
    }
    .content-img{
       width: 70vw;
    }
    .main-page-content{
       display: flex;
       flex-direction: column;
       width: 89.5vw;
       padding: 20px;
       height: 100vw;
       overflow-x: scroll;
    }

    .main-page-content>div>ul{
      font-size: 4vw;
      line-height: 8vw;
      width: 97vw;
   }
   .main-page-content>div>ul>li>p{
      line-height: 5vw ;
   }
   .main-page-content>div>ul>a{
      text-decoration: none;
      color: #007fff;
      font-size: 4vw;
      
   
   }
   .main-page-content>div>ul>li:hover{
      text-decoration: underline;
      
   }
    .head-text{
       width: 70vw;
       font-size: 4vw;
       margin-bottom: 1vw;
       font-weight: bold;
    
    }
    .text-info{
       font-size: 4vw;
       width: 75vw;
       color: rgb(61, 61, 61);
    }
    .links-page{
       color: #007fff;
       text-decoration: none;
       font-size: 15px;
       width: 100vw;
       line-height: 5vw;
    
    
    }
    .links-page:hover{
       text-decoration: underline;
    }
    
    
    
     /*tab csss ends*/
}


@media only screen and (max-width: 1000px) {

   .top__header{
      display: none;
   }
   .bottom__header .bottom_header_links{
      display: none;
      /* flex-direction: row;
      justify-content: space-between;
      align-items: center; */
 }
 
   /* .bottom_header_links{
      display: none !important;
   } */
   .hamburger{
      display: block;
   }
}
